@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
}

.calc-row {
  display: flex;
  flex-direction: row;
}

.calc-row:after {
  clear: both;
  content: "";
  display: table;
}